Repository fengyuanchen/vue-number-input: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "linters": {
    "*.js": ["eslint --fix", "git add"],
    "*.{css,vue,html}": ["stylelint --fix", "git add"]
  },
  "ignore": ["{dist,docs}/**"]
}

feat: support to clear the input value through the keyboard
  src/vue-number-input.vue
Due: stylelint --fix

docs: fix the demo code of usage
  README.md
Due: none

fix: round the new value in the last setp
  src/vue-number-input.vue
Due: stylelint --fix

fix: should emit a single value
  src/vue-number-input.vue
  tests/events.spec.ts
Due: stylelint --fix

build: release 2.0.0-beta.1
  package-lock.json
  package.json
Due: none

build: upgrade husky to 6
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  package.json
Due: none

ci: improve name
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  README.md
Due: none

build: use jsdom as test env
  jest.config.js
Due: eslint --fix

build: release 2.0.0-rc
  CHANGELOG.md
  README.md
  docs/index.html
  package-lock.json
  package.json
Due: stylelint --fix

fix: add `oldValue` to `update:modelValue` event
  src/vue-number-input.vue
Due: stylelint --fix

docs: lock the major version only
  docs/index.html
Due: stylelint --fix

fix: avoid specifying `NaN` value to number input
  src/vue-number-input.vue
Due: stylelint --fix

build: update dependencies and configurations
  .browserslistrc
  .eslintrc.js
  .husky/.gitignore
  .husky/commit-msg
  commitlint.config.js
  docs/index.html
  jest.config.js
  lint-staged.config.js
  package-lock.json
  package.json
  stylelint.config.js
  tsconfig.eslint.json
  tsconfig.json
Due: eslint --fix, stylelint --fix

feat: add auto-generated declaration file
  README.md
  package.json
  rollup.config.js
  types/index.d.ts
Due: eslint --fix

build: release 2.0.0-rc.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: correct the declaration file name
  package-lock.json
  package.json
Due: none

build: release 2.0.0-rc.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

docs: improve for Vue 2
  README.md
Due: none

ci: use Node.js 16
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

build: simplify config
  postcss.config.js
  stylelint.config.js
Due: eslint --fix

build: release 2.0.0
  CHANGELOG.md
  README.md
  docs/app.vue
  docs/index.html
  package-lock.json
  package.json
Due: stylelint --fix

build: update dependencies
  package-lock.json
  package.json
Due: none

docs: improve styles
  docs/app.vue
  docs/index.html
Due: stylelint --fix

♥
  index.html
  main.css
  main.js
Due: eslint --fix, stylelint --fix

fix: round the normalized new value
  src/vue-number-input.vue
Due: stylelint --fix

build: release 2.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

docs: improve distribution files title
  README.md
Due: none

fix: prevent default behavior when click the controls
  src/vue-number-input.vue
Due: stylelint --fix
