Repository fengyuanchen/vue-number-input: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "linters": {
    "*.js": ["eslint --fix", "git add"],
    "*.{css,vue,html}": ["stylelint --fix", "git add"]
  },
  "ignore": ["{dist,docs}/**"]
}

test: refactor test suites
  test/.eslintrc
  test/index.js
  test/karma.conf.js
  test/specs/NumberInput.spec.js
  test/specs/events/change.spec.js
  test/specs/methods/decrease.spec.js
  test/specs/methods/increase.spec.js
  test/specs/methods/setValue.spec.js
  test/specs/props/center.spec.js
  test/specs/props/controls.spec.js
  test/specs/props/disabled.spec.js
  test/specs/props/inline.spec.js
  test/specs/props/inputtable.spec.js
  test/specs/props/max.spec.js
  test/specs/props/min.spec.js
  test/specs/props/name.spec.js
  test/specs/props/placeholder.spec.js
  test/specs/props/readonly.spec.js
  test/specs/props/rounded.spec.js
  test/specs/props/size.spec.js
  test/specs/props/step.spec.js
  test/specs/props/value.spec.js
Due: eslint --fix

fix: update dependency versions
  package-lock.json
  package.json
Due: none

fix: lint .vue files
  .eslintrc
  package-lock.json
  package.json
Due: none

fix: update library versions
  src/docs/index.html
Due: stylelint --fix

build: rebuild library
  dist/vue-number-input.common.js
  dist/vue-number-input.esm.js
  dist/vue-number-input.js
  dist/vue-number-input.min.js
  docs/index.html
  docs/main.js
Due: eslint --fix, stylelint --fix

build: release 1.0.0
  CHANGELOG.md
  README.md
  dist/vue-number-input.common.js
  dist/vue-number-input.esm.js
  dist/vue-number-input.js
  dist/vue-number-input.min.js
  docs/index.html
  docs/main.js
  package-lock.json
  package.json
Due: eslint --fix, stylelint --fix

feat: register as a Vue plugin
  src/index.js
  src/number-input.vue
Due: eslint --fix, stylelint --fix

feat: register the component automatically once loaded
  src/index.js
Due: eslint --fix

docs: fix links
  src/docs/app.vue
  src/docs/index.js
Due: eslint --fix, stylelint --fix

test: simplify config
  karma.conf.js
  test/index.js
Due: eslint --fix

build: update
  .babelrc
  .browserslistrc
  .commitlintrc
  .eslintrc
  .huskyrc
  .lintstagedrc
  .stylelintrc
  .travis.yml
  babel.config.js
  rollup.config.js
  webpack.config.js
Due: eslint --fix

build: release 1.1.0
  CHANGELOG.md
  README.md
  dist/vue-number-input.common.js
  dist/vue-number-input.esm.js
  dist/vue-number-input.js
  dist/vue-number-input.min.js
  docs/main.js
  package-lock.json
  package.json
Due: eslint --fix

fix: add missing `-webkit-` prefix to `appearance` property
  src/number-input.vue
Due: stylelint --fix

fix: force to override the number in the input box
  src/number-input.vue
Due: stylelint --fix

docs: move documentation files
  docs/main.js
  docs/src/app.vue
  docs/src/components/demo.vue
  docs/src/index.html
  docs/src/index.js
  src/number-input.vue
  webpack.config.js
Due: eslint --fix, stylelint --fix

build: release 1.1.1
  CHANGELOG.md
  dist/vue-number-input.common.js
  dist/vue-number-input.esm.js
  dist/vue-number-input.js
  dist/vue-number-input.min.js
  package-lock.json
  package.json
Due: eslint --fix

fix: hide the spin box in number input box in Firefox
  CHANGELOG.md
  src/number-input.vue
Due: stylelint --fix

build: release 1.1.2
  CHANGELOG.md
  dist/vue-number-input.common.js
  dist/vue-number-input.esm.js
  dist/vue-number-input.js
  dist/vue-number-input.min.js
  docs/index.html
  docs/main.js
  docs/src/index.html
  package-lock.json
  package.json
Due: eslint --fix, stylelint --fix

feat: add new `attrs` prop
  CHANGELOG.md
  src/README.md
  src/number-input.vue
  test/specs/props/attrs.spec.js
Due: eslint --fix, stylelint --fix

build: move source files of docs
  docs/src/index.html
  site/app.vue
  site/components/demo.vue
  site/index.html
  site/index.js
  webpack.config.js
Due: eslint --fix, stylelint --fix

build: release 1.2.0
  CHANGELOG.md
  dist/vue-number-input.common.js
  dist/vue-number-input.esm.js
  dist/vue-number-input.js
  dist/vue-number-input.min.js
  docs/index.html
  docs/main.js
  package-lock.json
  package.json
Due: eslint --fix, stylelint --fix

fix: add `tabindex` attribute to control buttons
  CHANGELOG.md
  src/number-input.vue
Due: stylelint --fix

docs: update external dependencies
  site/index.html
Due: stylelint --fix

build: release 1.2.1
  CHANGELOG.md
  README.md
  dist/vue-number-input.common.js
  dist/vue-number-input.esm.js
  dist/vue-number-input.js
  dist/vue-number-input.min.js
  docs/index.html
  docs/main.js
  package-lock.json
  package.json
Due: eslint --fix, stylelint --fix

refactor: refactor in TypeScript 4
  .editorconfig
  .eslintignore
  .eslintrc
  .eslintrc.js
  .stylelintignore
  .stylelintrc
  .travis.yml
  README.md
  babel.config.js
  dist/vue-number-input.common.js
  dist/vue-number-input.esm.js
  dist/vue-number-input.js
  dist/vue-number-input.min.js
  docs/app.vue
  docs/components/demo-block.vue
  docs/index.html
  docs/index.ts
  docs/main.css
  docs/main.js
  jest.config.js
  package-lock.json
  package.json
  postcss.config.js
  rollup.config.js
  site/index.html
  src/index.js
  src/index.ts
  src/shims.d.ts
  src/vue-number-input.vue
  stylelint.config.js
  tests/events.spec.ts
  tests/methods.spec.ts
  tests/others.spec.ts
  tests/props.spec.ts
  tests/shims.d.ts
  tsconfig.eslint.json
  tsconfig.json
  types/index.d.ts
  webpack.config.js
Due: eslint --fix, stylelint --fix

build: release v2.0.0-alpha
  CHANGELOG.md
  README.md
Due: none

build: move CI to GitHub Actions
  .github/workflows/ci.yml
  README.md
  package.json
Due: none

build: update .eslintrc.js
  .eslintrc.js
Due: eslint --fix

build: create deploy.yml
  .github/workflows/deploy.yml
Due: none

refactor: merge shims
  src/shims.d.ts
  tests/shims.d.ts
Due: none

build: release 2.0.0-beta
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

build: update files
  README.md
  docs/app.vue
  docs/index.ts
  jest.config.js
  package.json
Due: eslint --fix, stylelint --fix

test: fix suite name
  tests/events.spec.ts
  tests/methods.spec.ts
  tests/others.spec.ts
Due: none

docs: fix links
  docs/app.vue
Due: stylelint --fix

style: drop unnecessary leading indentation spaces
  docs/app.vue
  docs/components/demo-block.vue
  src/README.md
  src/vue-number-input.vue
Due: stylelint --fix

docs: add size badge
  README.md
Due: none

build: simplify config
  rollup.config.js
Due: eslint --fix

test: convert the name to lower case
  tests/events.spec.ts
Due: none

ci: update config
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none
